/*
 * Web factory ltd
 * Created: 20/04/2015
 */ 
 
 
 .sidebar-profile {
    background: rgb(229,112,231); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(229,112,231,1) 0%, rgba(200,94,199,1) 47%, rgba(168,73,163,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(229,112,231,1)), color-stop(47%,rgba(200,94,199,1)), color-stop(100%,rgba(168,73,163,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* IE10+ */
background: linear-gradient(135deg, rgba(229,112,231,1) 0%,rgba(200,94,199,1) 47%,rgba(168,73,163,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e570e7', endColorstr='#a849a3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 }
 
 .logo-container {
   background: #A94AA4;
 }
 
 .logo-container h1 {
   color: #fff;
 }
 
 .logo-container h4 {
   color: #fff;
 }
 
 .header-bar {
   background: #D063CF;
 }
 
 .icon-list.hoverable>li>a:hover, .icon-list>li.open>a, ul.right-icons li.open a {
   background: #A94AA4;
 }
 
 ul.left-icons>li>a>i {
   color:#fff;
 }